/* $Id: sidebar.toolbar.base.css,v 1.1.2.6 2010/08/01 03:23:49 yhahn Exp $ */

/**
 * sidebar toolbar CSS resets ===========================================
 */

/* Text */
#sidebar,
#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6,
#sidebar p,
#sidebar blockquote,
#sidebar pre,
#sidebar a,
#sidebar abbr,
#sidebar acronym,
#sidebar address,
#sidebar big,
#sidebar cite,
#sidebar code,
#sidebar del,
#sidebar dfn,
#sidebar em,
#sidebar font,
#sidebar img,
#sidebar ins,
#sidebar kbd,
#sidebar q,
#sidebar s,
#sidebar samp,
#sidebar small,
#sidebar strike,
#sidebar strong,
#sidebar sub,
#sidebar sup,
#sidebar tt,
#sidebar var,
#sidebar b,
#sidebar u,
#sidebar i,
#sidebar center,
/* Common classes */
#sidebar .buttons,
/* Lists */
#sidebar dl,
#sidebar dt,
#sidebar dd,
#sidebar ol,
#sidebar ul,
#sidebar li,
/* Forms */
#sidebar fieldset,
#sidebar form,
#sidebar input,
#sidebar select,
#sidebar textarea,
#sidebar label,
#sidebar legend,
/* Tables */
#sidebar table,
#sidebar caption,
#sidebar tbody,
#sidebar tfoot,
#sidebar thead,
#sidebar tr,
#sidebar th,
#sidebar td,
/* Drupal: system.css */
#sidebar tr.even,
#sidebar tr.odd,
#sidebar tr.drag,
#sidebar tbody,
#sidebar tbody th,
#sidebar thead th,
#sidebar .breadcrumb,
#sidebar .error,
#sidebar div.error,
#sidebar tr.error,
#sidebar .warning,
#sidebar div.warning,
#sidebar tr.warning,
#sidebar .ok,
#sidebar div.ok,
#sidebar tr.ok,
#sidebar .item-list,
#sidebar .item-list .icon,
#sidebar .item-list .title,
#sidebar .item-list ul,
#sidebar .item-list ul li,
#sidebar ol.task-list li.active,
#sidebar .form-item,
#sidebar tr.odd .form-item,
#sidebar tr.even .form-item,
#sidebar tr.merge-down,
#sidebar tr.merge-up,
#sidebar .form-item .description,
#sidebar .form-item label,
#sidebar .form-item label.option,
#sidebar .form-checkboxes,
#sidebar .form-radios,
#sidebar .form-checkboxes .form-item,
#sidebar .form-radios .form-item,
#sidebar .marker,
#sidebar .form-required,
#sidebar .more-link,
#sidebar .more-help-link,
#sidebar .item-list .pager,
#sidebar .item-list .pager li,
#sidebar .pager-current,
#sidebar .tips,
#sidebar html.js fieldset.collapsible legend a,
#sidebar html.js fieldset.collapsed legend a,
#sidebar .resizable-textarea {
  margin:0px;
  padding:0px;
  border:0px;
  outline:0px;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  line-height:inherit;
  position:static;

  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -moz-border-radius:none;
  -webkit-border-radius:none;
  }

/**
 * Base styles ========================================================
 */
div#sidebar {
  z-index:100;
  position:fixed;
  }

/**
 * Toggling ===========================================================
 */
div#sidebar div.sidebar-blocks {
  overflow-x:hidden;
  overflow-y:auto;
  display:none;
  }

  body.sidebar-expanded div#sidebar div.sidebar-blocks { display:block; }

  div#sidebar.ne,
  div#sidebar.nw { top:0px; }

  .admin-menu div#sidebar.ne,
  .admin-menu div#sidebar.nw { top: 18PX; }

  div#sidebar.se,
  div#sidebar.sw { bottom:0px; }

  div#sidebar.nw,
  div#sidebar.sw,
  div#sidebar.nw span.sidebar-toggle,
  div#sidebar.sw span.sidebar-toggle { left:0px; }

  div#sidebar.ne,
  div#sidebar.se,
  div#sidebar.ne span.sidebar-toggle,
  div#sidebar.se span.sidebar-toggle { right:0px; }

  /**
   * Vertical =========================================================
   */
  div#sidebar.vertical {
    position:fixed;
    bottom:0px;
    top:0px;
    }

    div#sidebar.vertical div.sidebar-blocks { width:0px; }
    body.sidebar-expanded div#sidebar.vertical div.sidebar-blocks { width:180px; }


  body div#sidebar.vertical div.sidebar-blocks { position:absolute; top:0px; bottom:0px; }

    body.sidebar-expanded div#sidebar.vertical.ne div.sidebar-blocks,
    body.sidebar-expanded div#sidebar.vertical.se div.sidebar-blocks { right:0px; }

    body.sidebar-expanded div#sidebar.vertical.nw div.sidebar-blocks,
    body.sidebar-expanded div#sidebar.vertical.sw div.sidebar-blocks { left:0px; }

  body.sidebar-expanded.sidebar-vertical.sidebar-ne,
  body.sidebar-expanded.sidebar-vertical.sidebar-se { margin-right:180px; }

  body.sidebar-expanded.sidebar-vertical.sidebar-nw,
  body.sidebar-expanded.sidebar-vertical.sidebar-sw { margin-left:180px; }

  /**
   * Horizontal =======================================================
   */
  div#sidebar.horizontal { left:0px; right:0px; }
  body.sidebar-expanded div#sidebar.horizontal div.sidebar-blocks { height:260px; }

  body.sidebar-expanded.sidebar-horizontal.sidebar-ne,
  body.sidebar-expanded.sidebar-horizontal.sidebar-nw { margin-top:180px; }

  body.sidebar-expanded.sidebar-horizontal.sidebar-sw,
  body.sidebar-expanded.sidebar-horizontal.sidebar-se { margin-bottom:180px; }

/**
 * Toggler ============================================================
 */
div#sidebar span.sidebar-toggle {
  display:block;
  width:35px;
  height:35px;

  cursor:pointer;
  overflow:hidden;
  text-indent:-999px;

  position:absolute;
  top:0px;
  z-index:1000;
  }

  div#sidebar.se span.sidebar-toggle,
  div#sidebar.sw span.sidebar-toggle {
    position:fixed;
    bottom:0px;
    top:auto;
    }

  body.sidebar-expanded div#sidebar span.sidebar-toggle {
    position:absolute;
    top:0px;
    }

/**
 * sidebar tabs =========================================================
 */
div#sidebar.horizontal div.sidebar-tabs {
  height:30px;
  padding:5px 10px 0px;
  overflow:hidden;
  }

div#sidebar.vertical div.sidebar-tabs {
  position:relative;
  padding:5px 10px 25px;
  }

div#sidebar.ne div.sidebar-tabs,
div#sidebar.se div.sidebar-tabs { padding-right:35px !important; }

div#sidebar.nw div.sidebar-tabs,
div#sidebar.sw div.sidebar-tabs { padding-left:35px !important; }

div#sidebar div.sidebar-tab,
div#sidebar div.sidebar-tab span,
div#sidebar div.sidebar-tab a {
  list-style:none;
  background:transparent;
  padding:0px;
  margin:0px;
  }

div#sidebar div.sidebar-tab {
  cursor:pointer;
  padding:4px 19px;
  height:15px;
  border-width:1px;
  border-style:solid;
  }

  div#sidebar.vertical div.sidebar-tab {
    overflow:hidden;
    white-space:nowrap;

    margin-bottom:5px;
    padding-left:9px;
    padding-right:9px;
    width:195px;
    }

  div#sidebar.horizontal div.sidebar-tab {
    float:left;
    margin-right:5px;
    }

div#sidebar div.sidebar-tab-active {
  border-width:1px 1px 0px;
  padding-bottom:10px;
  }

  div#sidebar.vertical div.sidebar-tab-active {
    padding-bottom:5px;
    position:absolute;
    bottom:0px;
    margin:0px;
    }

/**
 * sidebar blocks =======================================================
 */
#sidebar .sidebar-blocks{
  padding-top: 30px;
  padding-left: 10px;
}
#sidebar .sidebar-block{
  
}
/**
 * Lists ==============================================================
 */
#sidebar div.item-list li {
  padding:5px 0px 4px;
  border-style:solid;
  border-width:0px 0px 1px;
  }

/**
 * Reasonable inline links
 */
#sidebar ul.links {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding:5px;
  }

#sidebar ul.links li a { padding:2px 10px; }

/**
 * Form elements ======================================================
 */
#sidebar input.form-autocomplete,
#sidebar input.form-text,
#sidebar textarea.form-textarea,
#sidebar select.form-select {
  padding:2px;
  border-width:2px;
  border-style:solid;
  width:90%;
  }

#sidebar input.form-submit {
  cursor:pointer;
  padding:2px 5px;
  text-align:center;
  font-weight:normal;
  border-width:1px;
  border-style:solid;
  }

#sidebar.vertical div.sidebar-panes div.sidebar-pane,
#sidebar div.sidebar-panes div.sidebar-pane-active,
#sidebar div.fieldset,
#sidebar div.form-item {
  position:relative;
  margin:0px 0px 5px;
  border-width:1px;
  border-style:solid;
  }

  #sidebar div.form-item { padding:4px; }

#sidebar div.form-item label {
  margin:0px;
  padding:0px;
  font-weight:bold;
  font-size:10px;
  text-transform:uppercase;
  }

  #sidebar div.form-item label.option {
    text-transform:none;
    font-size:11px;
    }

  #sidebar div.form-item label.option input { vertical-align:middle; }

  #sidebar.vertical div.form-item div.description { font-size:10px; }

/**
 * sidebar panes ========================================================
 */
#sidebar div.sidebar-panes h2.sidebar-pane-title a {
  display:block;
  padding:4px;
  }

#sidebar div.sidebar-panes div.sidebar-pane-content {
  padding:4px;
  display:none;
  }

  #sidebar div.sidebar-panes div.sidebar-pane-active div.sidebar-pane-content { display:block; }

  #sidebar div.sidebar-pane div.form-item {
    border:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    padding:5px 0px;
    margin:0px;
    background:transparent;
    }

/**
 * Horizontal layout.
 */
#sidebar.horizontal div.sidebar-panes {
  position:relative;
  padding-left:200px;
  }

#sidebar.horizontal div.sidebar-panes div.sidebar-pane {
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  }

#sidebar.horizontal div.sidebar-panes div.sidebar-pane-content { padding:4px 9px; }

#sidebar.horizontal div.sidebar-panes div.sidebar-pane-tabs {
  z-index:500;
  position:absolute;
  left:0px;
  width:200px;
  }

#sidebar.horizontal div.sidebar-panes div.sidebar-pane-tabs a { padding:5px; }

#sidebar.horizontal div.sidebar-panes div.sidebar-pane-tabs a.sidebar-pane-active {
  padding:4px;
  border-width:1px 0px 1px 1px;
  border-style:solid;
  margin-right:-1px;
  }
