/**
 * Menu
 */
#sidebar ul.menu,
#sidebar ul.menu ul,
#sidebar ul.menu li,
#sidebar ul.menu li a {
  list-style:none;
  background:transparent;
  padding:0px;
  margin:0px;
  border:0px;
  }
#sidebar ul.menu{
  -moz-box-shadow:    3px 3px 5px 6px #000000 inset;
  -webkit-box-shadow: 3px 3px 5px 6px #000000 inset;
  box-shadow:         3px 3px 5px 6px #000000 inset;
}
#sidebar ul li.first{
 -webkit-box-shadow: rgba(0,0,0,0.75) 0px 3px 5px inset;
 -moz-box-shadow: rgba(0,0,0,0.75) 0px 3px 5px inset;
}
#sidebar ul li.last{
 -webkit-box-shadow: rgba(0,0,0,0.2) 0px -3px 5px inset;
 -moz-box-shadow: rgba(0,0,0,0.2) 0px -3px 5px inset;
}
#sidebar a{
  opacity: 0.75;
  text-shadow: #000000 1px 1px 3px;
  display: block;
}
#sidebar a:hover{
  opacity: 1;
}
#sidebar ul.menu li a.active{
  opacity: 1;
  color: #ffffff;
  font-weight: bold;
}
#sidebar ul.menu li a{
  padding: 5px 10px;
}
#sidebar ul.menu ul{
  margin-left: 5px;
}
#sidebar ul.menu li{
  background: #222222;
  border-bottom: 1px solid #000000;
}
#sidebar ul.menu li a{
  font-size: 14px;
}
#sidebar ul.menu li li{
  background: #333333;
}
#sidebar ul.menu li li a{
  font-size: 12px;
  padding: 4px 8px;
}
#sidebar ul.menu li li li{
  background: #444444;
}
#sidebar ul.menu li li li a{
  font-size: 11px;
  padding: 3px 6px;
}
#sidebar ul.menu li li li li{
  background: #555555;
}
#sidebar ul.menu li li li li a{
  font-size: 10px;
  padding: 2px 4px;
}
#sidebar ul.menu li li li li li{
  background: #666666;
}
#sidebar ul.menu li li li li li a{
  font-size: 9px;
  padding: 1px 2px;
}
#sidebar ul.menu li li li li li li{
  background: #777777;
}
