/* $Id: sidebar.toolbar.css,v 1.1.2.8 2009/12/16 06:16:04 yhahn Exp $ */

/**
 * Base styles ========================================================
 */
div#sidebar,
div#sidebar * {
  font:normal 11px/15px "Lucida Grande",Tahoma,Verdana,sans-serif;
  color:#ccc;
  }

div#sidebar a {
  text-decoration:none;
  color:#fff;
  font-weight:normal;
  }

/**
 * Toolbar background =================================================
 */
div#sidebar div.sidebar-blocks { background:url(../images/black.png) 0px 35px repeat-x; }
div#sidebar.vertical div.sidebar-blocks { background-color:#000; }

/**
 * Toggle =============================================================
 */
div#sidebar span.sidebar-toggle { background:url(../images/sprite.png) 0px 0px no-repeat; }

  /* Positions */
  div#sidebar.nw span.sidebar-toggle { background-position:0px 0px; }
  div#sidebar.ne span.sidebar-toggle { background-position:-35px 0px; }
  div#sidebar.se span.sidebar-toggle { background-position:-70px 0px; }
  div#sidebar.sw span.sidebar-toggle { background-position:-105px 0px; }

  /* Expanded */
  body.sidebar-expanded div#sidebar span.sidebar-toggle { background-position:0px -35px; }

/**
 * Tabs ===============================================================
 */
div#sidebar div.sidebar-tabs { background:#222 url(../images/bleeds.png) 0px 100% repeat-x; }

div#sidebar div.sidebar-tab {
  -moz-border-radius:5px;
  -moz-box-shadow: #333 0px 1px 0px;
  -webkit-border-radius:5px;
  -webkit-box-shadow: #333 0px 1px 0px;
  text-shadow: #222 0px 1px 0px;

  background:url(../images/bleeds.png) 0px 0px repeat-x;
  cursor:pointer;
  border-color:#111;
  }

  div#sidebar div.sidebar-tab,
  div#sidebar div.sidebar-tab a { color:#999; }

div#sidebar div.sidebar-tab-active {
  -moz-border-radius:5px 5px 0px 0px;
  -moz-box-shadow: none;

  -webkit-border-radius:0px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-box-shadow: none;

  background:#000;
  border-color:#555 #333;
  }

  div#sidebar div.sidebar-tab:hover,
  div#sidebar div.sidebar-tab-active,
  div#sidebar div.sidebar-tab-active a { color:#fff; }

/**
 * Drupal elements ====================================================
 */

/* Lists */
#sidebar div.item-list li { border-color:#222; }

/* Links */
#sidebar ul.links { background:#111; }

#sidebar ul.links li a {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  background:#333;
  }

#sidebar ul.links li a:hover {
  background:#eee;
  color:#333;
  }

/**
 * Form elements ======================================================
 */
#sidebar input.form-autocomplete,
#sidebar input.form-text,
#sidebar textarea.form-textarea,
#sidebar select.form-select {
  border-color:#000;
  background:#000;
  color:#999;
  }

  #sidebar input.form-autocomplete:hover,
  #sidebar input.form-text:hover,
  #sidebar textarea.form-textarea:hover,
  #sidebar select.form-select:hover,
  #sidebar div.form-item:hover input.form-autocomplete,
  #sidebar div.form-item:hover input.form-text,
  #sidebar div.form-item:hover textarea.form-textarea,
  #sidebar div.form-item:hover select.form-select,
  #sidebar input.form-autocomplete:focus,
  #sidebar input.form-text:focus,
  #sidebar textarea.form-textarea:focus,
  #sidebar select.form-select:focus {
    color:#fff;
    border-color:#333;
    }

#sidebar input.form-submit {
  color:#999;
  border-color:#555 #444 #333;
  background:#222 url(../images/bleeds.png) 0px 100% repeat-x;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

  #sidebar input.form-submit:hover {
    border-color:#aaa #888 #666;
    background:#444 url(../images/bleeds.png) 0px 0px repeat-x;
    color:#fff;
    }

  #sidebar input.form-submit:active {
    border-color:#333;
    background:#111;
    color:#fff;
    }

#sidebar.vertical div.sidebar-panes div.sidebar-pane,
#sidebar div.sidebar-panes div.sidebar-pane-active,
#sidebar div.fieldset,
#sidebar div.form-item {
  background:#111;
  border-color:#222;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

#sidebar div.form-item { padding:4px; }

#sidebar div.form-item div.description,
#sidebar div.form-item label { color:#999; }

/**
 * sidebar panes ========================================================
 */
#sidebar div.sidebar-panes div.sidebar-pane:hover,
#sidebar div.sidebar-panes div.sidebar-pane-active,
#sidebar.vertical div.sidebar-panes div.sidebar-pane-active {
  background:#222;
  border-color:#333;
  }

#sidebar div.sidebar-panes h2.sidebar-pane-title a { color:#666; }
#sidebar div.sidebar-panes h2.sidebar-pane-title a:hover,
#sidebar div.sidebar-panes h2.sidebar-pane-title a.sidebar-pane-active { color:#fff; }

#sidebar div.sidebar-pane div.item-list li { border-color:#333; }

/* Horizontal */
#sidebar.horizontal div.sidebar-panes div.sidebar-pane-tabs a {
  -moz-border-radius:3px 0px 0px 3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  }

#sidebar.horizontal div.sidebar-panes div.sidebar-pane-tabs a.sidebar-pane-active {
  background:#222;
  border-color:#333;
  }
